In [3]:
#Playing with panda

#DataFrame.loc 
#Access a group of rows and columns by label(s) or a boolean array.
#https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.loc.html

import pandas as pd
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]], 
             index=["cobra", "viper", "sidewinder"],
             columns=["max_speed", "shield"])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [5]:
#Getting values

#Single label. Note this returns the row as a Series.
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [20]:
#Play some
df.loc[['viper']]

       max_speed  shield
viper          4       5

In [6]:
#List of labels. Note using [[]] returns a DataFrame.
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [21]:
#Single label for row and column
df.loc['cobra', 'shield']

2

In [25]:
#Slice with labels for row and single label for column.
#As mentioned above, note that both the start and stop of the slice are included.
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [24]:
df.loc[['cobra','viper'], 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [12]:
df.loc[[False, False, True]]

            max_speed  shield
sidewinder          7       8

In [13]:
df.loc[df['shield']>6]

            max_speed  shield
sidewinder          7       8

In [17]:
#Conditional that returns a boolean Series with column labels specified
df.loc[df['shield']>6, ['max_speed']]

            max_speed
sidewinder          7

In [19]:
#Callable that returns a boolean Series
df.loc[lambda df: df['shield'] == 8]

            max_speed  shield
sidewinder          7       8

In [26]:
#Setting Values

#Set value for all items matching the list of labels
df.loc[['viper', 'sidewinder'], ['shield']] = 50

In [27]:
df

            max_speed  shield
cobra               1       2
viper               4      50
sidewinder          7      50

In [28]:
#Set value for an entire row

df.loc['cobra'] = 10

In [29]:
df

            max_speed  shield
cobra              10      10
viper               4      50
sidewinder          7      50

In [30]:
df.loc['cobra']

max_speed    10
shield       10
Name: cobra, dtype: int64

In [32]:
#Set value for an entire column
df.loc[:, 'max_speed']  = 30
df

            max_speed  shield
cobra              30      10
viper              30      50
sidewinder         30      50

In [33]:
df.loc[df['shield'] > 35] = 0

df

            max_speed  shield
cobra              30      10
viper               0       0
sidewinder          0       0

In [3]:
#Getting values on a DataFrame with an index that has integer labels

#Another example using integers for the index
import pandas as pd
df=pd.DataFrame([[1, 2], [4, 5], [7, 8]],
               index=[7, 8, 9], columns=['max_speed', 'shield'])
df

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [4]:
#
df.loc[7:9]

   max_speed  shield
7          1       2
8          4       5
9          7       8

In [10]:
#Getting values with a MultiIndex

#A number of examples using a DataFrame with a MultiIndex
tuples = [('cobra', 'mark i'), ('cobra', 'mark ii'), ('sidewinder', 'mark i'),
          ('sidewinder', 'mark ii'),('viper', 'mark ii'), ('viper', 'mark iii')]

tuples

[('cobra', 'mark i'),
 ('cobra', 'mark ii'),
 ('sidewinder', 'mark i'),
 ('sidewinder', 'mark ii'),
 ('viper', 'mark ii'),
 ('viper', 'mark iii')]

In [11]:
index = pd.MultiIndex.from_tuples(tuples)
index

MultiIndex(levels=[['cobra', 'sidewinder', 'viper'], ['mark i', 'mark ii', 'mark iii']],
           labels=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 1, 2]])

In [13]:
values=[[12, 2], [0, 4], [10, 20], [1, 4], [7, 1], [16, 36]]
df = pd.DataFrame(values, columns=['max_speed', 'shield'], index=index)
df

                     max_speed  shield
cobra      mark i           12       2
           mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [14]:
#Single label. Note this returns a DataFrame with a single index.
df.loc['cobra']

         max_speed  shield
mark i          12       2
mark ii          0       4

In [15]:
#Single index tuple. Note this returns a Series.
df.loc[('cobra', 'mark ii')]

max_speed    0
shield       4
Name: (cobra, mark ii), dtype: int64

In [18]:
#Single label for row and column. Similar to passing in a tuple, this returns a Series.

df.loc['cobra', 'mark i']

max_speed    12
shield        2
Name: (cobra, mark i), dtype: int64

In [19]:
#Single tuple. Note using [[]] returns a DataFrame.
df.loc[[('cobra', 'mark ii')]]

               max_speed  shield
cobra mark ii          0       4

In [20]:
#Single tuple for the index with a single label for the column
df.loc[('cobra', 'mark i'), 'shield']

2

In [21]:
#Slice from index tuple to single label
df.loc[('cobra', 'mark ii'): 'viper']

                     max_speed  shield
cobra      mark ii           0       4
sidewinder mark i           10      20
           mark ii           1       4
viper      mark ii           7       1
           mark iii         16      36

In [22]:
#Slice from index tuple to index tuple
df.loc[('cobra', 'mark ii'): ('viper', 'mark ii')]

                    max_speed  shield
cobra      mark ii          0       4
sidewinder mark i          10      20
           mark ii          1       4
viper      mark ii          7       1